@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-menu-li {
  @apply flex items-center align-middle box-content pl-5 
        overflow-hidden text-base my-5 cursor-pointer w-56 whitespace-nowrap
         hover:text-red-700 transition-all duration-200 ease-out;
}

.menu-item-label {
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease-in-out, visibility 0s 200ms ease-in;
}

.menu-item-label.open {
  opacity: 1;
  visibility: visible;
}

@font-face {
  font-family: 'HurmeNo2';
  src: url('/src/fonts/HurmeGeometricSans2-SemiBold.woff2') format('woff2'),
       url('/src/fonts/HurmeGeometricSans2-SemiBold.woff') format('woff'),
       url('/src/fonts/HurmeGeometricSans2-SemiBold.tff') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: 'JetBrains Mono', monospace;
}

body{
    background-color: rgb(29, 28, 49);
}

.flipped{
  transform: rotateX(180deg);
}

.flipped2{
  transform: rotateX(180deg);
}

.drop-in-right{
  animation: dropInRight 0.3s ease-in;
}

.drop-in-left{
  animation: dropInLeft 0.3s ease-in;
}

@keyframes dropInRight{
  0%{
    transform: translateX(200px) scale(1.1) rotateY(-45deg);
  }
  100%{
    transform: translateX(0px) rotateY(0deg);
  }
}

@keyframes dropInLeft {
  0% {
    transform: translateX(-200px) scale(1.1) rotateY(-45deg);
  }
  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}

.group:hover{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 50%, #3c4e5a 50%);
}

